header {
	h1 {
		margin-top: 3.5rem;
		font-size: 4rem;
		margin-bottom: 1rem;
		@include funkytext();

	}
}

.introduction {
	p {
		@media #{$small-only} {
		}
		@media #{$large-up} {
		}
		max-width: 45rem;
		padding-right: 1rem;
	}
}
