.projects {
	letter-spacing: 0;
	h1 {
		font-size: 4rem;
		@include funkytext();
		margin-top: 1.2em;
		margin-bottom: 0.35em;

	}
	article {
		float: left;
		vertical-align: top;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin-bottom: 2rem;
		border-left: 0.7rem solid $textcolor-lite;
		@media #{$medium-up} {
			border-right: 1rem solid $bgcolor;
		}
		background: white;
		@media #{$small-only} {
			width: 100%;
		}
		@media #{$large-up} {
			width: 50%;
		}
		a {
			text-decoration: none;
			img {
				width: 100%;
			}
			h3 {
				font-size: 2rem;
				font-weight: bold;
				margin: 1rem 0 0 0;
				background: $textcolor-lite;
				color: $white;
				padding: 0.5rem 1rem 0.2rem 0;
				margin-top: 0;
			}
		}
		p {
			margin: 1rem;
			a {
				text-decoration: underline;
			}
		}
		.ingredients {
			list-style-type: none;
			padding: 0;
			margin-left: 1rem;
			li {
				float: left;
				background: $textcolor-lite;
				color: white;
				padding: 3px 6px;
				margin: 6px 6px 0px 0px;
				a {
					color: white;
					text-decoration: underline;
				}
			}
		}
	}
}
