body {
  background: $bgcolor;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $textcolor;
  margin: 0;
}

a {
	color: $textcolor;
	&:hover {
		color: $textcolor-lite;
	}
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	color: $textcolor-lite;
	font-weight: bold;
}

main, header {
	@media #{$small-up} {
		width: 90%;
	}
	@media #{$large-up} {
		width: 70%;
	}
	margin: 0 auto;
	max-width: 85rem;
}

section {
	margin-bottom: 3rem;
	&:last-child {
		margin-bottom: 0;
	}
}

@import "header";
@import "projects";
@import "social";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}